body {
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: #ecfade;
    padding: 10px ;
    font-family: 'Comic Sans MS', sans-serif;
}

article {
    text-align: center;
    height: 100vh;
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
}


#board {
    background-image: url("assets/slimejumpbg.png");
    height: 70%;
    aspect-ratio: 360/576;
    margin: 1em;
    outline: groove #8ec854 0.2em;
}

button {
    background-color: #40a8fe;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    font-family: 'Comic Sans MS', sans-serif;

}


button:hover {
    background-color: #2a6392;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;

}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    color: #FF528E;

}

p {
    color: #8C2D4E;

}

@media print {

    .noPrint{
        display: none;
    }

    body * {
        visibility: hidden;
    }

    .modal, .modal * {
        visibility: visible;
    }

    .modal:before {
        content: " Slime Accelerator Extravaganza je platformová hra, ktorej cieľom je posúvať slizovitú postavičku Slime po sérií platforiem bez padnutia. V tejto hre sa nachádza dokopy 5 levelov, ktoré treba všetky úspešne prejsť. Hra obsahuje rôzne druhy platforiem. Hru je možné hrať na počítačoch, alebo mobilných zariadeniach. Aktuálny stav hry sa zapamätá aj po zatvorení prehliadača.";
        display: block;
        margin-bottom: 20px;
        font-weight: bold;
        color: #8C2D4E;
        border: none !important;
        padding: 0 !important;
    }

    .modal {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        overflow-y: auto;
        page-break-before: always;
        border: none !important;
    }

    .close {
        display: none !important;
    }
}




